*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor{
  display: flex;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #c2c2c2;
  /* flex-direction: column; */
}
.item{
  display: flex;
  /* width: 400px; */
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  border: 1px solid #000;
  /* flex-grow: 1; */
  width: 200px;
  height: 200px;
}
.contenedor .item:nth-child(2){
  background-color: blueviolet;
  /* flex-shrink: 4; */
  flex-basis: 100px;
  align-self: flex-end;
}